.calendar-container {
  margin: 20px 0;
}

.selected {
  color: rgb(0, 140, 255) !important; /* 선택된 날짜 - 파란색 */
}

.holiday {
  color: red !important; /* 주말 및 공휴일 - 빨간색 */
}
.react-calendar__tile {
  font-size: 14px;
  color: black;
  background-color: white;
}
.react-calendar__tile--active:hover {
  background-color: #e6e6e6 !important;  /* 이유는 모르겠는데 자꾸 매월 1일이 파란색으로 떠서 따로 지정 */
}
.react-calendar__tile--current:hover {
  background-color: whitesmoke !important;
}
.react-calendar__tile--active:enabled:focus {
  background: #e6e6e6;
}
.react-calendar {
  border-radius: 8px; /* 전체 달력의 테두리를 둥글게 */
  overflow: hidden; /* 둥근 모서리를 잘리게 만듦 */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-color: #ccc;
}
.react-calendar__month-view__weekdays__weekday abbr {
  text-decoration: none; /* 점 제거 */
  cursor: default; /* 선택 불가능하게 설정 */
}

.react-calendar__month-view__weekdays__weekday abbr[title] {
  border: none; /* title 속성에 의해 나타나는 스타일 제거 */
}

.header-container {
  width: 100%; /* 전체 폭 차지 */
  border-bottom: 1px solid #ccc; /* 아래 선 추가 */
  padding: 30px;
}

.header-container h1 {
  font-size: 40px;
  text-align: center; /* 텍스트 가운데 정렬 */
}

.leftdays {
  font-size: 18px;
}

.selecteddays {
  font-size: 16px;
}

.wise-saying {
  font-size: 17px;
  font-weight: bold;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}

.info-panel {
  flex: 1;
  position: sticky;
  top: 20px;
  align-self: flex-start;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  min-width: 265px;
  max-width: 300px;
}

.calendar-grid {
  flex: 2;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  max-width: 100px;
}

@media (max-width: 1200px) {
  .calendar-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 800px) {
  .calendar-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

.calendar-header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: #333;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.calendar-container {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-height: 400px;
  background-color: #f9f9f9;

  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.calendar-container:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.styled-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #4d9ed8;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;

  transition: transform 0.3s, box-shadow 0.3s;
}

.styled-button:hover {
  background-color: #5bb8e6;
  transform: scale(1.02);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.date-block {
  display: inline-block;
  background-color: white;
  color: black;
  padding: 8px 12px;
  margin: 5px;
  border-radius: 12px;
  font-size: 14px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}

.date-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.vacation-days-block {
  display: inline-block;
  background-color: white;
  color: black;
  padding: 8px 12px;
  margin: 5px 0;
  border-radius: 12px;
  font-size: 14px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  font-weight: bold;
}